#container
{
	margin: 0 auto;
	width: 900px;
	background:#fff;
}

#header
{
	background:#ccc;
	padding: 20px;
}

#logo{
	text-align: center;
}

#navigation
{
	float: left;
	margin-left: 200px;
	background:#ccc;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	width:100px;
	float: left;
	padding: 5px 10px;
	color:#000000;
	text-decoration: none;
	border-right: 1px solid#fff;
}

#navigation li a:hover {
	background:#808080;
	color:#ffffff;
}

#conteudo
{
	clear: left;
	padding: 20px;
}


#rodape
{
	background:#ccc;
	text-align: center;
	padding: 20px;
	height: 1%;
}

#tabela{
	width: 300px;
}

#tabela, th{
	width: 300px;
}
#tabela, th, td {
	margin-left: 170px;
	width: 500px;
	border: 1px solid black;
}
.logo{
	width: 120px;
}